@import "tailwindcss";

@theme {
  --color-bg_primary: #E7E7E7;
  --color-bg_secondary:  ;
  --color-behind_img: #D3D3D3;
  --color-behind_sosmed: #D1CFD0 ;
  --radius-6xl: 4rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    
  }
}

body {
  background: var(--background);
}

.text-poppins{
  font-family: var(--font-poppins);
}

svg {
  width: auto !important;
  height: auto !important;
}
