@import "tailwindcss";

@theme {
  --color-primary: black;
  --radius-6xl: 4rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    
  }
}

body {
  background: var(--background);
}

.text-poppins{
  font-family: var(--font-poppins);
}

svg {
  width: auto !important;
  height: auto !important;
}
