@import "tailwindcss";

@theme {
  --color-navbar: #1E2124;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.text-poppins{
  font-family: var(--font-poppins);
}

